@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  color: white;
}

#weather-container {
  text-align: left;
  text-shadow: 2px 2px 50px black;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1%;
  padding-right: 1%;
}

#weather-container .flex-container {
  display: -webkit-inline-flex;
  /* Safari */
  display: inline-flex;
  -webkit-justify-content: flex-start;
  /* Safari */
  justify-content: flex-start;
  -webkit-align-items: baseline;
  /* Safari */
  align-items: baseline;
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 20%;
}

#weather-container .flex-container #weather-value {
  font-size: .9em;
  position: relative;
  bottom: 10px;
}

#weather-container #dispCity {
  font-size: .5em;
  position: relative;
  top: 14px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

#weather-container svg, #weather-container img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  display: inline-block;
  width: 55%;
  height: auto;
  transform: translateY(8%);
}

#search-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1%;
  padding-left: 0;
}

#search-container input {
  border: solid 1px #ccc;
  padding: 9px 7px;
  height: 35px;
  width: 35px;
  color: transparent;
  cursor: pointer;
  font-size: 100%;
  outline: none;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 11em;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  transition: all .7s;
}

#search-container input .element:before {
  font-family: FontAwesome;
  content: "\f002";
  position: relative;
  left: -5px;
}

#search-container input:hover {
  background-color: #fff;
}

#search-container input:focus {
  width: 200px;
  padding-left: 15%;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

#greeting-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#greeting-container .newsfeed-buttons {
  width: 140px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  cursor: pointer;
  display: block;
  background-color: rgba(30, 30, 30, 0.9);
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin: 10px auto;
  border: 1px solid #c8c8c8;
}

#greeting-container .newsfeed-buttons:hover, #greeting-container .newsfeed-buttons:active {
  background-color: rgba(30, 30, 30, 0.5);
  color: white;
  transition: 0.3s;
}

#settings-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 1%;
  padding-left: 1%;
}

#settings-container .rotate {
  cursor: pointer;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

#settings-container .rotate.down {
  -ms-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

#settings-container #settings-window {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 30px;
  width: 200px;
  height: 200px;
}

#settings-container #settings-window h3 {
  text-align: center;
  padding-top: 20px;
}

#settings-container #settings-window hr {
  width: 80%;
}

#settings-container #settings-window table {
  margin: auto;
}

#settings-container #settings-window table td {
  padding: 4px 20px;
}

#settings-container #settings-window .onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#settings-container #settings-window .onoffswitch-checkbox {
  display: none;
}

#settings-container #settings-window .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 21px;
  padding: 0;
  line-height: 21px;
  border: 2px solid #5A7063;
  border-radius: 21px;
  background-color: #5A7063;
  transition: background-color 0.3s ease-in;
}

#settings-container #settings-window .onoffswitch-label:before {
  content: "";
  display: block;
  width: 21px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 17px;
  border: 2px solid #5A7063;
  border-radius: 21px;
  transition: all .2s ease-in 0s;
}

#settings-container #settings-window .onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #616161;
}

#settings-container #settings-window .onoffswitch-checkbox:checked + .onoffswitch-label, #settings-container #settings-window .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #D2E9FC;
}

#settings-container #settings-window .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

#todo-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 1%;
  padding-right: 1%;
}

#todo-container .todo-popup {
  background-color: rgba(0, 0, 0, 0.3);
  width: 300px;
  height: auto;
}

#todo-container .done {
  color: gray;
  text-decoration: line-through;
}

#todo-container #todo-button {
  float: right;
  cursor: pointer;
}

#todo-container .close-t-button {
  float: right;
  cursor: pointer;
  font-size: 16px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  color: white;
  display: none;
  transition: 0.4s linear;
  opacity: 0;
  transform: translateY(50%);
}

#todo-container .todo-list-item:hover .close-t-button {
  display: inline-block;
  opacity: 1.0;
}

#todo-container .close-t-button:after {
  content: '\f014';
  font-family: 'FontAwesome';
}

#todo-container .text-input {
  font-size: 12px;
  width: 100%;
  padding: 8px 18px 8px 12px;
  position: relative;
  bottom: 0;
  box-sizing: border-box;
  border: 1px solid transparent;
  margin-bottom: 5px;
}

#todo-container ul {
  list-style: none;
  margin: 10px;
  padding: 5px 0;
}

#todo-container ul li {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  width: 100px;
  display: block;
  padding: 0;
  width: 100%;
}

#todo-container ul li span {
  margin-right: 0;
  padding-right: 0;
  white-space: nowrap;
  width: 100px;
}

#todo-container .todo-checkbox {
  cursor: pointer;
  position: relative;
}

#todo-container .clear-todo {
  width: 100%;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  display: block;
  background-color: Transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 auto;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#todo-container .clear-todo:hover, #todo-container .clear-todo:active {
  letter-spacing: 4px;
  border: 1.5px solid white;
}

#quote-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.clickable-icon {
  cursor: pointer;
}

.fa-search {
  pointer-events: none;
  position: relative;
  left: 25px;
}

#greeting-container {
  text-align: center;
  text-shadow: 0 10px 60px rgba(0, 0, 0, 0.7);
}

#greeting-wrap {
  display: block;
  font-size: 50px;
}

#focus-prompt {
  display: block;
  font-size: 30px;
  margin: 10px;
}

#focus-container {
  position: relative;
  top: 50px;
}

#time {
  font-size: 150px;
}

#focus-input {
  appearance: none;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
  outline: none;
  padding: none;
  font-size: 1.5em;
  text-align: center;
  transition: border-bottom 0.4s;
  width: 100%;
  display: none;
}

#focus-input:focus, #focus-input:active {
  border-bottom: 2px solid white;
}

#focusLi {
  display: none;
}

#focusCheck {
  outline: none;
  position: relative;
  bottom: 3.5px;
  margin-right: 15px;
}

#focus-label {
  font-size: 1.5em;
}

#close-button {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 100%;
  cursor: pointer;
  margin-left: 5px;
  padding: 5px;
  position: relative;
  bottom: 2.5px;
  transition: 0.3s;
  width: 16px;
}

#close-button:hover {
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

#quote {
  font-size: 15px;
  text-shadow: 2px 2px 20px black;
  text-align: center;
  position: relative;
  bottom: 0;
  transition: 0.2s;
}

#author {
  font-size: 13px;
  text-shadow: 2px 2px 20px black;
  text-align: center;
  position: relative;
  bottom: 35px;
  opacity: 0;
  transition: 0.2s;
}

#newsfeed-cards {
  width: 40em;
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#newsfeed-cards a {
  margin-bottom: .5em;
}

#newsfeed-cards::-webkit-scrollbar {
  width: 1em;
}

#newsfeed-cards::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#newsfeed-cards::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 1px solid srgba(255, 255, 255, 0.2);
}

.article-card {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: left;
  height: 90px;
  width: 600px;
  padding: 18px;
  text-shadow: none;
  text-decoration: none;
  background-color: rgba(20, 20, 20, 0.8);
  color: #ddd;
}

.article-card:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: #eee;
  transition: 0.3s;
  cursor: pointer;
}

.article-title {
  font-size: 1.2em;
}

.article-content {
  display: inline;
  padding-left: 10px;
  padding-top: 15px;
}

.article-img {
  display: inline;
  margin: 0;
  width: 150px;
  height: 90px;
  object-fit: cover;
}

.templates {
  display: none;
}
